html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  width: 1000px;
  max-width: 90%;
  font-family: "Montserrat", sans-serif;
  background-color: #f0f0f0;
  word-break: break-word;
}