.buttons {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}

@media (max-width: 767px) {
    .buttons {
        margin-top: 10px;
        grid-template-columns: none;
        grid-template-rows: repeat(2, 1fr);
    }
}

.buttons__button {
    border: none;
    background: none;
    color: #008080;
}

.buttons__button:hover {
    color: #00a1a1;
}

.buttons__button:active {
    color: #00b6b6;
}

.buttons__button:disabled {
    color: #80808060;
}